@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #089075;
  color: #fff;
}

/* Top header  */
.header-text {
  font-size: 46px;
  font-weight: 700;
}

.sub-header {
  text-align: center;
  font-size: 34px;
  text-shadow: 1px 1px #044e3f;
}

/* Main */
.container {
  margin-top: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px;
}

.sub-container {
  width: 120%;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
}

.form input::placeholder {
  font-size: 16px;
  margin-left: 3px;
  color: #000;
  padding: 5px;
}

/* Add button */
.add-btn {
  background-color: #00866d;
  font-size: 16px;
  border: none;
  border-radius: 4px;

  color: #fff;
  width: 100%;
  padding: 7px;
}

.add-btn:hover {
  cursor: pointer;
}

/* Media queries  */
@media (max-width: 750px) {
  .sub-container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .container {
    margin-top: 32px;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .header-text {
    font-size: 36px;
  }

  .sub-header {
    font-size: 24px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 2px;
  }
}

@media (max-width: 300px) {
  .header-text {
    font-size: 28px;
  }
}
