@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #089075;
  color: #fff;
}

/*     Top header     */

.header-text {
  font-size: 46px;
  font-weight: 700;
}

.sub-header {
  text-align: center;
  font-size: 34px;
  text-shadow: 1px 1px #044e3f;
}

/*     Main     */

.container {
  margin-top: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

/*        Form and inside button     */

.form {
  display: flex;
  margin-top: -13px;
  margin-bottom: -13px;
  /* display: block; */
}
.form input {
  box-shadow: 2px 2px 2px 2px #40696173;
  width: 220px;
  padding: 10px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 10px 0;
  font-size: 18px;
}

.form input::placeholder {
  font-size: 16px;
  margin-left: 3px;
  color: #000;
  padding: 5px;
  opacity: 0.5;
}

input,
.inside-btn {
  font-size: 14px;
  padding: 8px 10px;
  margin: 10px; /* The most important line to keep the input and the inside button with equal height*/
  overflow: hidden;
}

input:focus {
  outline: none;
}

.inside-btn {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  transition: all 0.1s ease;
}

.inside-btn:hover {
  cursor: pointer;
}

.in-delete-btn:hover,
.in-edit-btn:hover {
  transform: scale(1.6);
}

.delete-btn,
.edit-btn {
  border: 0;
  font-size: 18px;
}

.delete-btn {
  color: #d60505;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.edit-btn {
  color: #12684b;
  border-left: 1px solid #95dad0;
}

/*           Add button             */

.add-btn {
  background-color: #00866d;
  box-shadow: 2px 2px 2px 2px #365a529f;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 290px;
  margin-top: 20px;
  padding: 7px;
  transition: scale 0.1s ease;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #0f8874;
  transform: scale(1.02);
}
